nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding: 5px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 1.4s ease-in-out;
  color: white;
  z-index: 100;
}

nav.bg-transparent {
  background-color: transparent;
}

nav.bg-green {
  background-color: #04aa6d;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav img {
  max-height: 60px;
}

nav .nav-link-v1 {
  padding: 16px;
  border-radius: 15px;
  font-size: 16px;
  border: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

nav .nav-link-v1:hover {
  box-shadow: 0 0 25px #04aa6d;
  background-color: #04aa6d;
}

.starbucks-logo:hover {
  animation: rotate-logo 1s ease-in-out 0.2s infinite;
}

#nav-toggle-btn {
  position: absolute;
  visibility: hidden;
  z-index: -100000;
}

.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #fff;
}

@keyframes rotate-logo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1100px) {
  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }

  .nav-links-section {
    align-items: flex-start;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background: #1a2238;
    left: 0;
    top: -150%;
    padding: 70px 20px;
    transition: 1s;
    z-index: 10000;
    font-size: 15px;
  }

  .nav-links-section ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-links-section > ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
  }

  .nav-links-section .dropdown-content {
    text-align: left;
    min-width: 80%;
  }

  .nav-links-section .dropbtn {
    width: 100%;
    margin: 0px auto;
  }
  .nav-links-section .dropdown {
    min-width: 80%;
  }

  .nav-links-section ul li .nav-link-v1 {
    width: 80%;
  }

  .hide-menu-btn {
    position: absolute;
    top: 15px;
    right: 20px;
  }

  #nav-toggle-btn:checked + .nav-links-section {
    top: 0px;
  }

  .dropdown-content {
    width: 250px;
  }
}
