.dish-category-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.dish-category {
    position: relative;
}

.tyl-title {
    font-weight: bold;
    text-transform: capitalize;
    border-bottom: solid 5px #04AA6D;
}

.dish-category-title {
    border-bottom: 4px solid #04AA6D;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.offer {
    margin-bottom: 15px;
    gap: 25px;
    font-weight: bold;
}

.offer img {
    width: 200px;
    height: 200px;
}