.dish-category-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.dish-category {
    position: relative;
}

.tyl-title {
    font-weight: bold;
    text-transform: capitalize;
    border-bottom: solid 5px #04AA6D;
}

.dish-category-title {
    border-bottom: 4px solid #04AA6D;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.offer {
    margin-bottom: 15px;
    gap: 25px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.offer img {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 1400px) {
    .offer img {
        width: 150px;
        height: 150px;
    }
    .offer h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .dish-category-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .offer {
        justify-content: flex-start;
        margin: 5px auto;
        max-width: 400px;
    }
}

@media screen and (max-width: 600px) {
    .offer {
        flex-direction: column;
    }
    .offer img {
        width: 200px;
        height: 200px;
    }
    .offer h3 {
        font-size: 22px;
        margin-bottom: 20px;
    }
}