.OurCompany-btn {
    /* animation: fadeIn 3s; */
    display: inline-block;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    color: #00754a;
}

.OurCompany-btn:hover{
    background-color: #d4e9e2;
    color: #00754a;
}

.locations-btn span {
    color: green;
}

/* @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
} */