@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 150px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  padding: 15px;
  position: relative;
  background-color: black;
}

footer .grid {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px;
}

footer img {
  max-width: 80px;
}

footer .social-media-links {
  color: white;
  font-size: 15px;
  margin-right: 25px;
}

footer .social-media-links:hover {
  color: #04aa6d;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li:not(:last-child) {
  margin-bottom: 35px;
}

footer .footer-links {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer .footer-links:hover {
  opacity: 0.8;
  text-decoration: underline;
}

footer .platforms {
  width: 250px;
}

#map {
  height: 180px;
}

.loader-wrapper {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.coffee-machine {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: white;
  border-radius: 15px;
}

.nav-back {
  position: fixed;
  top: 0;
  min-height: 100px;
  background-color: #1f3933;
  width: 100%;
}

.cpage {
  margin-top: 100px;
}

.cpage h3 {
  border-bottom: 2px solid #04aa6d;
  margin-bottom: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.mp {
  margin-top: 150px;
}

.cart-title {
  border-bottom: solid 5px #04aa6d;
  padding-bottom: 2px;
}

.welcome {
  text-transform: uppercase;
}

.order-success {
  color: #04aa6d;
  font-weight: bold;
  text-align: center;
}

.order-error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin: 5px auto;
  max-width: 450px;
}

.shortcuts > div > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 180px;
  flex-wrap: wrap;
  position: relative;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 15% 50%, 0% 0%);
  background-color: #1f3933;
  color: white;
  margin: 10px -5px;
  text-decoration: none;
  padding: 10px 35px;
  position: relative;
}

.shortcuts > div {
  display: flex;
  flex-wrap: wrap;
}

.menu-container {
  position: relative;
}

.scroll-top {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 25px;
  height: 25px;
  background-color: #04aa6d;
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 10px;
  border: 1px solid #fff;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #04aa6d;
}

::-webkit-scrollbar-thumb:hover {
  border: solid 2px #fff;
}

.top-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin-bottom: 25px;
}

.gold, .silver, .bronze {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.gold {
  border-bottom: solid 60px gold;
}

.silver {
  border-bottom: solid 40px silver;
}

.bronze {
  border-bottom: solid 20px #cd7f32;
}

@media screen and (max-width: 1200px) {
  footer .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  footer .grid {
    grid-template-columns: 1fr;
  }
  footer .grid ul {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: solid 2px white;
  }
  .cart-title {
    text-align: center;
  }
}
