.locations-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(100vh - 120px);
    right: 20px;
    box-shadow: 0 0 25px #04AA6D;
    border-radius: 15px;
    padding: 10px 20px 10px 10px;
    opacity: .8;
    cursor: pointer;
    font-weight: bold;
    background-color: black;
}

.near-text {
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 1200px) {
    .locations-btn {
        padding: 10px;
        min-width: 100px;
    }
    .locations-btn > * {
        margin: 0;
        padding: 0;
    }
    .near-text {
        display: none;
    }
}

@media screen and (max-width: 735px) {
    .coffee-machine {
        display: none;
    }
    .locations-btn {
        min-width: auto;
        top: auto;
        bottom: 225px;
        background-color: black;
    }
}