.menu-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 75px;
}

.menu-item {
    max-width: 240px;
    padding: 15px;
}

.menu-item:hover {
    background-color: gray;
    cursor: pointer;
    border-radius: 15px;
}

.menu-item img {
    max-width: 200px;
    border-radius: 50%;
}